*{
    margin: 0;
    padding: 0;
}

body{
    font-family:  Helvetica, Arial, sans-serif;
    overflow: hidden;
    background: linear-gradient(to top, #7b41ff, #41cdff);
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;
}

.container{
    box-sizing: border-box;
    background-color: white;
    margin: 10vh auto;
    width: 380px;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    color: black;
    padding: 1.5rem 20px;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
}

.main-section label{
    font-size: 15px;
    font-weight: 500;
}

.main-section #button{
    font-size: 16px;
    padding: 10px 60px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 1rem;
    background-color: rgb(131, 146, 246);
    color: rgb(65, 65, 65);
    margin-left: 50%;
    transform: translateX(-50%);  
}
.main-section input{
    margin-top: 10px;
    padding: 10px 6px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
    width: 95%;
    font-size: 15px;
}

.main-section input:focus{
    outline: 0;
}

.errorClass{
    margin-bottom: 10px;
    font-size: 9px;
    color: red;
    font-weight: 400;
  
}
